body {
    background-color:rgb(204, 204, 255);
}

h1 {
    text-align: center;
}

h3 {
    text-align: center;
}

h4 {
    padding: 4px 4px;
    margin: 5px;
    border-radius: 5px;
}

#editbtn{
    color:rgb(0, 0, 0);
    background-color:rgb(255, 180, 180);
    padding: 4px 4px;
    align-self: right;
    border-radius: 5px;
    float: right;
}

#textInput {
     width: 300px; /* Set the width to make it wider */
     height: 40px; /* Set the height to make it taller */
}

#viewbtn{
    color:rgb(0, 0, 0);
    background-color:rgb(204, 204, 255);
    padding: 4px 4px;
    align-self: center;
    font-size: small;
    margin: 5px;
    border-radius: 5px;
    display: inline-block;
}

#btn{
    color:rgb(0, 0, 0);
    background-color:rgb(204, 204, 255);
    padding: 4px 4px;
    align-self: center;
    font-size: small;
    margin: 5px;
    border-radius: 5px;
}

#form{
    background-color:rgb(255, 255, 255);
    width:50%;
    border-radius: 4px;
    margin:120px auto;
    padding:50px;
    box-shadow: 5px 5px rgb(82, 11, 77);
}

@media screen and (max-width: 570px) {
    #form {
      width: 65%;
      margin-left:none;
      padding:40px;
    }
  }
