* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*
  Release 1 - Login CSS For Mahalaxmi's Screen
  Release 2 - Login CSS for Mahin's Screen
*/

/*
  Sign In Page CSS
*/

/* body {
  font-family: sans-serif;
} */

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 30px auto 0;
}

.exercisecontainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 30px auto 0;
  grid-area: title_component;
}

.container .loginForm {
  margin: 100px auto;
}

.container .loginForm form {
  background-color: #fffaf0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 680px;
  /* final height */
  width: 375px;
  /* final weight */
  padding: 0 20px;
  /* Set border thickness and color */
  border-radius: 40px;
}

/* h4 CSS Start */
.container .loginForm form h4 {
  font-size: 30px;
  font-family: 'Georgia';
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 9px;
  width: 100%;
  padding-bottom: 10px;
}

/* h4 CSS End */

/* h5 CSS Start */
.container .loginForm form h5 {
  font-size: 15px;
  font-family: 'Georgia';
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 9px;
  width: 100%;
  padding-bottom: 10px;
}

.signup-link {
  text-decoration: none;
  cursor: pointer;
}

.signup-link:hover {
  text-decoration: underline;
  /* Underline on hover */
}

/* h5 CSS End */

/* h3 CSS Start */
.container .loginForm form h3 {
  font-size: 20px;
  font-family: 'Georgia';
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 30px;
}

/* h3 CSS End */

/* Image CSS Start */
.container .loginForm form .app-logo {
  width: 170px;
  height: 170px;
  margin: 0 auto 20px;
  /* 20px from the top */
  display: block;
}

/* Image CSS End */

/* Input Boxes CSS Start */
.container .loginForm form label {
  margin-bottom: 12px;
  font-family: Georgia;
  font-size: 15px;
}

.container .loginForm form .textInput {
  width: 100%;
  height: 40px;
  outline: none;
  margin-bottom: 20px;
  padding: 0px 10px;
  border: 2px solid rgb(32, 30, 30)
}

/* Input Boxes CSS End */

/* Submit Button CSS Start */
.container .loginForm form .button {
  width: 320px;
  height: 50px;
  padding: 8px 30px;
  margin-bottom: 20px;
  text-align: center;
  cursor: pointer;
  border: 2px solid black;
  border-radius: 5px;
  font-family: Georgia;
  font-size: 20px;
  background-color: #d3d3d3;
  color: black;
}

.container .loginForm form .button:hover {
  background-color: #dcdcdc;
}

/* Submit Button CSS End */

.container .loginForm h1 {
  font-size: 36px;
  margin-bottom: 20px;
  text-align: center;
}

label i {
  margin: 0px 10px;
}


/*
  Exercise Dashboard Page CSS
*/
.exercisecontainer .exercise {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 600px;
  width: 400px;
  padding: 0 20px;
  border: 1px solid rgb(219, 219, 219)
}

.exercisecontainer .exercise h1 {
  font-size: 37px;
  font-family: 'Trebuchet MS';
  display: flex;
  flex-direction: initial;
  align-items: first baseline;
  gap: 9px;
  width: 100%;
  padding-bottom: 100px;
  padding-left: 10px;
  padding-right: 10px;
  color: blue
}

.exercisecontainer .exercise .exercise-logo {
  width: 150px;
  height: 150px;
  margin-left: 105px;
  margin-bottom: 50px;
  align-items: center;
}

.exercisecontainer .exercise .start {
  width: auto;
  padding: 15px 30px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 2px solid black;
  outline: none;
  border-radius: 5px;
  font-family: Cambria;
  font-size: 25px;
  margin-bottom: 40px;
  margin-left: 70px;
  margin-right: 60px;
  background-color: rgb(226, 129, 129)
}

.exercisecontainer .exercise .exit {
  width: auto;
  padding: 15px 30px 15px 30px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 2px solid black;
  outline: none;
  border-radius: 5px;
  font-family: Cambria;
  font-size: 25px;
  margin-left: 60px;
  margin-right: 50px;
  margin-top: 3px;
  background-color: rgb(197, 85, 141)
}

/*
  Google Maps Page CSS
*/
.maps-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 140px;
  height: 170px;

}

.exit-maps-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  color: black;
  margin-top: 100px;
  margin-left: 618px;
  font-weight: 700;
  cursor: pointer;
}

.exit-maps-btn button {
  font-family: 'Nunito sans', sans-serif;
  height: 30px;
  width: 70px;
  font-size: 12px;
  border-radius: 40px;
  border: none;
  outline: none;
  background-color: lightblue;

  color: darkgreen;
  box-shadow: -3px -3px 15px rgb(54, 54, 54),
    3px 3px 15px rgb(0, 0, 0);
}

.exit-maps-btn button:active {
  box-shadow: inset 3px 3px 10px rgb(13, 13, 13),
    inset -3px -3px 10px rgb(68, 68, 68);
}