* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*
  Release 1 - Login CSS For Mahalaxmi's Screen
  Release 2 - Login CSS for Mahin's Screen
*/

/*
  Sign In Page CSS
*/

/* body {
  font-family: sans-serif;
} */

.container_Login {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 350px;
  height: 350px;
  background-color: transparent ;
  border: 1px solid #ccc;
  padding: 20px;


}

.exercisecontainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 30px auto 0;
  grid-area: title_component;
}

.container_Login .loginForm {
  /* margin: 100px auto; */
}

.container_Login .loginForm form {
  /* background-color: #fffaf0; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
   /* height: 680px; */
  /* final height */
  /* width: 375px; */
  /* final weight */
 /* padding: 0 20px; */
  /* Set border thickness and color */
  /* border-radius: 40px;  */
}

/* h4 CSS Start */
.container_Login .loginForm form h4 {
  font-size: 30px;
  font-family: 'Georgia';
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 9px;
  width: 100%;
  padding-bottom: 10px;
}

/* h4 CSS End */

/* h5 CSS Start */
.container_Login .loginForm form h5 {
  font-size: 15px;
  font-family: 'Georgia';
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 9px;
  width: 100%;
  padding-bottom: 10px;
  color: white;
}


.signup-link {
  text-decoration: none;
  cursor: pointer;
}

.signup-link:hover {
  text-decoration: underline;
  /* Underline on hover */
}
header .logo{
  position: relative;
  font-size: 2em;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  text-decoration: none;
  letter-spacing: 1px;
}

/* h5 CSS End */

/* h3 CSS Start */
.container_Login .loginForm form h3 {
  font-size: 20px;
  font-family: 'Georgia';
  color: white;
  /* margin-top: 0; */
  /* display: flex;
  flex-direction: column; */
  align-items: center; 
  padding-bottom: 10px;
}

/* h3 CSS End */

/* Image CSS Start */
.container_Login .loginForm form .app-logo {
  width: 170px;
  height: 170px;
  margin: 0 auto 20px;
  /* 20px from the top */
  display: block;
}
.navigation_update{
  position:absolute;
  top: 50%;
  right: 20px; /* Adjust this value as needed */
  margin-top: -70px;
  transform: translateY(-50%);
  display: flex;
}

header .navigation_login{
  position: absolute;
  top: 50%;
  right: 20px; /* Adjust this value as needed */
  transform: translateY(-50%);
  display: flex;
}
header .navigation_login li,
.navigation_update li{
  list-style: none;

}
header .navigation_login li a,
.navigation_update li a {
  display: inline-block;
  color:  #F96B00;
  margin-right: 40px;
  text-decoration: none;

}

header .navigation_login li a:hover{
  color: #03a9f4;
}
.navigation_update li a:hover{
  color: #03a9f4;
}

/* Image CSS End */

/* Input Boxes CSS Start */
.container_Login .loginForm form label {
  margin-bottom: 5px;
  font-family: Georgia;
  font-size: 15px;
  color: white;
}

.container_Login .loginForm form .textInput {
  width: 100%;
  height: 40px;
  outline: none;
  margin-bottom: 20px;
  padding: 0px 10px;
  border: 2px solid rgb(32, 30, 30)
}

/* Input Boxes CSS End */
 
/* Submit Button CSS Start */
.container_Login .loginForm form .button {
  width:100%;
  /* height: 50px; */
  padding:10px;
  /* margin-bottom: 20px; */
  text-align: center;
  cursor: pointer;
  border: 2px solid black;
  border-radius: 5px;
  font-family: Georgia;
  font-size: 20px;
  background-color: #d3d3d3;
  color: black;
}


.container_Login .loginForm form .button:hover {
  background-color: #dcdcdc;

}

/* Submit Button CSS End */

.container_Login .loginForm h1 {
  font-size: 36px;
  margin-bottom: 20px;
  text-align: center;
}

label i {
  margin: 0px 10px;
}


/*
  Exercise Dashboard Page CSS
*/
.exercisecontainer .exercise {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 600px;
  width: 400px;
  padding: 0 20px;
  border: 1px solid rgb(219, 219, 219)
}

.exercisecontainer .exercise h1 {
  font-size: 37px;
  font-family: 'Trebuchet MS';
  display: flex;
  flex-direction: initial;
  align-items: first baseline;
  gap: 9px;
  width: 100%;
  padding-bottom: 100px;
  padding-left: 10px;
  padding-right: 10px;
  color: blue
}

.exercisecontainer .exercise .exercise-logo {
  width: 150px;
  height: 150px;
  margin-left: 105px;
  margin-bottom: 50px;
  align-items: center;
}

.exercisecontainer .exercise .start {
  width: auto;
  padding: 15px 30px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 2px solid black;
  outline: none;
  border-radius: 5px;
  font-family: Cambria;
  font-size: 25px;
  margin-bottom: 40px;
  margin-left: 70px;
  margin-right: 60px;
  background-color: rgb(226, 129, 129)
}

.exercisecontainer .exercise .exit {
  width: auto;
  padding: 15px 30px 15px 30px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 2px solid black;
  outline: none;
  border-radius: 5px;
  font-family: Cambria;
  font-size: 25px;
  margin-left: 60px;
  margin-right: 50px;
  margin-top: 3px;
  background-color: rgb(197, 85, 141)
}

/*
  Google Maps Page CSS
*/
.maps-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 140px;
  height: 170px;

}


.navigation-map{
  position: absolute;
  top: 6%;
  right: 20px; /* Adjust this value as needed */
  transform: translateY(-50%);
  display: flex;
}
.navigation-map li{
  list-style: none;

}
.navigation-map li a{
  display: inline-block;
  color: #f38735;
  font-weight: bold;
  margin-right: 40px;
  text-decoration: none;

}

.navigation-map li a:hover{
  color: #03a9f4;
}


.menu-map-container{
  position: fixed; /* or absolute, depending on your layout */
  top: 0;
  left: 0;
  width: 25vw; /* Set the width to 25% of the viewport width */
}

.map-menu {
  position: absolute;
  margin-top: 40px;
  padding: 20px;
  color: black;
}


.navigation_map{
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.navigation_map li{
  padding: 10px 0;

}
.navigation_map li a{
  text-decoration: none;
    color: #333; /* Set the desired text color */
    font-size: 18px; /* Set the desired font size */
    display: block;
    padding: 10px;

}
.exit-icon_map{
  border: none;
    position: relative;
    left: 260px;
  }

.navigation_map li a:hover{
  color: #03a9f4;
}




.map-overlay {
  position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    background-color: black;
    color: white;
    width: 25%; /* Adjust this value to make it 1/4 of the screen */
    background-color: #fff; /* Set the desired background color */
    z-index: 999; /* Ensure it's above other content */
    transition: transform 0.3s ease-in-out; /* Add transition for smooth animation */
    transform: translateX(-100%);
}
.map-overlay.open {
  transform: translateX(0); /* Slide in from the left when menu is open */
}
.exit-icon_map{
  position: relative;
  left: 260px;
  }








.exit-maps-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  color: black;
  margin-top: 20px;
  margin-left: 1050px;
  font-weight: 700;
  cursor: pointer;
}

.exit-maps-btn button {
  font-family: 'Georgia';
  height: 30px;
  width: 70px;
  font-size: 12px;
  border-radius: 40px;
  border: none;
  outline: none;
  background-color: lightblue;

  color: darkgreen;
  box-shadow: -3px -3px 15px rgb(54, 54, 54),
    3px 3px 15px rgb(0, 0, 0);
}

.exit-maps-btn button:active {
  box-shadow: inset 3px 3px 10px rgb(13, 13, 13),
    inset -3px -3px 10px rgb(68, 68, 68);
}


/*
  Update Profile Page CSS
*/

.updates-container{
  position: fixed;
  top: 62%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 420px;
  background-color: transparent ;
  border: 1px solid #ccc;
  padding: 20px;
}

.update-menu {
  position:relative;
  margin-left: -60px;
  padding: 20px;
  color: white;
}

.update-bottom-nav {
  position: absolute;
  /* Position the navigation bar absolutely */
  bottom: 20px;
  /* Adjust bottom spacing */
  width: 100%;
  /* Set width to 100% */
  bottom: 0.2px;
  /* Position it at the bottom of the wrapper */
  /* top: 0; */
  left: 0;
  /* Align it to the left */
  display: flex;
  justify-content: space-around;
  border-radius: 0px 0px 23px 23px;
  background-color: rgb(82, 79, 79);
  padding: 10px;
}

.update-container .profile_logo {
  width: 150px;
  height: 150px;
  margin: 45px auto 10px;
  /* 20px from the top */
  display: block;
 
}
.user-info{
  margin-left: 620px;
  /* padding-bottom: 20px; */
}
.user-icon-update{
  margin-left: 10px;
  padding-top: 40px;

}

.update-inputs {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  margin-top: 15px;
  margin-bottom: 50px;
}

.update-submit {
  
  width: 300px;
  height: 50px;
  margin-left: 30px;
  padding: 8px 30px;
  margin-bottom: 20px;
  text-align: center;
  cursor: pointer;
  border: 2px solid black;
  border-radius: 5px;
  font-family: Georgia;
  font-size: 20px;
  font-weight: bold;
  background-color: darkgrey;
  color: black;
}
.update-submit:hover {
  background-color: #dcdcdc;
}

.update-message {
  color: black;
  font-size: 14px;
  text-align: center;
  font-family: Georgia;
  font-weight: bold;
  margin: 0 auto;
}