/*
  Release 2 - Sakinah's Contribution To This File
  Release 3 - Noura's Contribution To This File
*/

.profile-menu {
  position: absolute;
  text-align: center;
  margin-right: 320px;
  margin-bottom: 600px;
  margin-top: 60px;
}

.person_logo {
  width: 125px;
  height: 125px; 
  border-radius: 50%;
  background-color: black;
  margin-left: 540px;
  margin-top: 40px;
  display: block;
}

  
.personal-info {
  font-size: 16px;
  text-align: center;
  margin-top: 20px;
  padding-left: 530px;
}
  
.personal-info .name {
  font-size: 22px;
  color: white;
}
  
.personal-info .email {
  font-size: 15px;
  color: white;
}

.total-hours {
  position: absolute;
  left: 500px;
  margin-top: 240px;
  font-family: 'Georgia';
  color: white;
}

.total-hours-text {
  text-align: center;
  position: absolute;
  left: 500px;
  margin-top: 260px;
  margin-bottom: 50px;
  font-family: 'Georgia';
  color: white;
}

.time-icon {
  font-size: 80px;
  position: absolute;
  left: 500px;
  top: 405px;
  color: whitesmoke;
}

.timeicon-hourtext {
  text-align: center;
  font-family: 'Georgia';
  color: white;
  padding-bottom: 100px;
  padding-right: 50px;
}

.burn-icon {
  font-size: 80px;
  position: absolute;
  right: 500px;
  color: rgb(224, 89, 41);
  top: 400px;
}

.calorie-count {
  position: absolute;
  right: 500px;
  margin-top: 220px;
  color: white;
  font-family: 'Georgia';
}

.burned-text {
  position:absolute;
  text-align: center;
  right: 500px;
  color: white;
  margin-top: 224px;
  font-family: 'Georgia';
}

.line {
  position: absolute;
  border-top: 2px solid black;
  width: 90%; /* Adjust the width as needed */
  margin-top: 280px;
  left: 20px;

}

.personal-icon {
  position: absolute;
  margin-top: 160px;
  font-size: 35px;
  left: 50px;
  margin-top: 350px;
  color: white;
}

.exit-icon_personal {
border: none;
  position: relative;
  left: 260px;
}

.profile-menu {
  position: absolute;
  padding: 20px;
  top: -40px;
  color: white;
}

.personal-text {
  position: absolute;
  margin-top: 350px; 
  font-weight: bold;
  left: 250px;
  color: white;
  font-size: 20px;
}

.b-line {
  position: absolute;
  border-top: 2px solid black;
  width: 90%; /* Adjust the width as needed */
  margin-top: 420px;
  left: 20px;
}

.navigation_personal{
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.navigation_personal li {
  padding: 10px 0;

}

.navigation_personal li a {
  text-decoration: none;
    color: #333; /* Set the desired text color */
    font-size: 18px; /* Set the desired font size */
    display: block;
    padding: 10px;

}

.navigation_personal li a:hover {
  color: #03a9f4;
}


.personal-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 350px;
}

.menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  background-color: black;
  color: rgb(246, 245, 245);
  width: 20%; /* Adjust this value to make it 1/4 of the screen */
  background-color: rgb(9, 10, 9); /* Set the desired background color */
  z-index: 999; /* Ensure it's above other content */
  transition: transform 0.3s ease-in-out; /* Add transition for smooth animation */
  transform: translateX(-100%);
}

.menu-overlay.open {
  transform: translateX(0); /* Slide in from the left when menu is open */
}

.navigation_menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.navigation_menu li {
  padding: 10px 0;
}

.navigation_menu li a {
  text-decoration: none;
  color: rgb(242, 230, 230); /* Set the desired text color */
  font-size: 18px; /* Set the desired font size */
  display: block;
  padding: 10px;
}

.navigation_menu li a:hover {
  background-color: #f78731; /* Set the desired hover background color */
  color:rgb(11, 11, 11);
}

.exit-icon{
  position: relative;
  left: 220px;
  border: none;
}
